/*  your css code here. If applicable */
.header{
	text-align:center;
	padding:15px;
	background-color:#011E29;
	color:#FAFCFE;
}
.lane1{
	display:flex;
	justify-content:center;
	
}
.latest-news-section{
	background-color:white;
	width:20%;
	border-radius:5px;
	margin:5px;
}
.main{
	background-color:white;
	width:50%;
	margin:5px;
	border-radius:5px;
}
.pictorial-news-section{
		margin:5px;
	background-color:white;
	width:25%;
	border-radius:5px;
}
img{
	justify-content:centre;
	width:100%;
}
h3,p{
	text-align:center;
}